body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  #timer-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  input {
    margin: 5px;
    padding: 10px;
    width: 80px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #active-timers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .timer-item {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .timer-item .time {
    font-size: 20px;
    font-weight: bold;
  }
  
  button.stop-btn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button.stop-btn:hover {
    background-color: darkred;
  }
  
  #timer-end {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  #end-message p {
    font-size: 24px;
    color: green;
    font-weight: bold;
  }
  